#number-container {
    border-style: solid;
    display: inline-block;
    width: 100%;
    border-color: rgb(192, 130, 15);
    border-width: 5px;
    padding: 12px;
    border-radius: 8px;
}

.number {
    background-color: rgb(14 14 14);
    display: inline-block;
    width: 12.1%;
    min-height: 44px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(24, 224, 24);
    border-radius: 8px;
    margin: 3px;
}

body {
    background-color: black;
    color: white;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 30pt;
    text-align: center;
    margin-top: 20px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
}

.body.button-container {
    color: goldenrod;
    border-color: red;
    font-weight: bold;
    border-width: 5px;
    background-color: green;
    text-align: center;
    margin: auto;
}